/* Algemene body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fafaf1;
    color: #333;
}

/* Container styling */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background: none;
    box-shadow: none;
}

/* Tekst sectie styling */
.text-section {
    max-width: 50%;
}

.text-section h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #2b2f26;
}

.text-section p {
    font-size: 1.3rem;
    margin-top: 10px;
}

/* Afbeeldingssectie styling */
.image-section img {
    max-width: 100%;
    border-radius: 8px;
    margin-left: 10rem;
    margin-top: 50px;
}

/* 3 Principes Styling */
.principles {
    text-align: center;
    margin: 50px auto;
    max-width: 1200px;
    padding: 20px;
}

.principles h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.principle-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.principle {
    text-align: center;
    max-width: 300px;
    margin: 20px;
}

.principle h1 {
    font-size: 5rem;
    color: #8aa07c;
    margin: 0;
}

.principle h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10px;
}

.principle p {
    font-size: 0.95rem;
    color: #555;
}

/* Media Queries */


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .text-section {
        max-width: 100%;
        text-align: center;
    }

    .text-section h1 {
        font-size: 2rem;
    }

    .text-section p {
        font-size: 1.1rem;
    }

    .image-section img {
        margin-left: 0;
        margin-top: 20px;
    }

    .principles h2 {
        font-size: 1.5rem;
    }

    .principle-items {
        flex-direction: column;
        align-items: center;
    }

    .principle {
        max-width: 90%;
        margin: 20px 0;
    }

    .principle h1 {
        font-size: 4rem;
    }

    .principle h3 {
        font-size: 1.1rem;
    }

    .principle p {
        font-size: 0.9rem;
    }
}

/* Tablet schermen */
@media (max-width: 1024px) {
    .container {
        padding: 15px;
    }

    .text-section h1 {
        font-size: 2.5rem;
    }

    .text-section p {
        font-size: 1.2rem;
    }

    .image-section img {

    }

    .principles h2 {
        font-size: 1.7rem;
    }

    .principle h1 {
        font-size: 4.5rem;
    }
}
