#branchForm {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 20vw;
    margin: auto;

    > div {
        display: flex;
        flex-direction: column;
        gap: 0.2vw;
    }
}

#branchArticleContainer {
    width: 70vw;
    margin: auto;
    padding: 1vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;

    article {
        padding: 0.5vw;
    }
}

#branchNameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 0.5vw;
    }
}

#branchDetailContainer {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 1vw;
    width: 70%;
    margin: 2vw auto;
    border-radius: 1vw;
    background-color: var(--moss-light);

    > div {
        padding: 1vw;
        display: flex;
        flex-direction: column;
    }

    > #branchDescription {
        background-color: var(--white);
        border-radius: 1vw;
        padding: 2vw;
    }

    #branchDetailAdressContainer {
        display: flex;
        flex-direction: row;
        gap: 1vw;

        p {
            margin: 0;
            width: fit-content;
        }
    }
}


@media only screen and (max-width: 450px) {

    #branchForm {
        width: 95vw;
    }

    #branchArticleContainer {
        width: 95vw;
        gap: 1vw;
    }
}
