/* Root Variables */
:root {
    --violet: #AA0160;
    --violet-dark: #7C1A51;
    --yellow: #FAEC02;
    --moss-medium: #92AA83;
    --moss-light: #E2ECC8;
    --moss-dark: #2E342A;
    --white: #FFFFFF;
    --cream: #FBFCF6;
    --stroke-thin: #DFDFDF;
}

/* General Styles */
.oops-text {
    font-size: 2.5rem; /* Adjust font size */
    text-align: center;
    font-weight: bold;
    color: var(--moss-medium);
}

.description-text {
    font-size: 0.875rem;
    text-align: center;
    color: var(--moss-dark);
    margin-top: 1.5rem; /* Adjusted top margin to move it lower */
}

/* Form Styles */
.login-form {
    max-width: 600px; /* Increased the max-width to make the form wider */
    margin: 0 auto;
    padding: 3rem; /* Increased padding for more space inside the form */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'radikal', sans-serif;
    background-color: var(--cream);
    border: none;
    margin-top: 3rem; /* Adjust top margin to move the form down */
}

/* Form Group */
.form-group {
    margin-bottom: 1.5rem;
}

/* Input Fields */
.input-field {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

/* Button Styles */
.login-btn {
    background-color: #8a0151; /* Violet color */
    color: white;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.login-btn:hover {
    background-color: #7a0146;
}

.login-btn:focus {
    outline: none;
}

/* Error Message */
.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .login-form {
        padding: 2rem; /* Adjust padding for medium screens */
    }

    .oops-text {
        font-size: 2rem;
    }

    .description-text {
        font-size: 0.8rem;
        margin-top: 2rem;
    }

    .login-btn {
        font-size: 18px;
        padding: 0.8rem 1.5rem;
    }
}

@media (max-width: 480px) {
    .login-form {
        padding: 1.5rem; /* Adjust padding for small screens */
    }

    .oops-text {
        font-size: 1.75rem;
    }

    .description-text {
        font-size: 0.75rem;
        margin-top: 2.5rem;
    }

    .login-btn {
        font-size: 16px;
        padding: 0.8rem 1.2rem;
    }
}
