header {
    display: flex;
    margin: 10vw;
}

header img {
    width: 35vw;
    margin: auto;
}

header div {
    margin: 2vw;
}

.werknemer {
    background-color: var(--moss-light);
}

#stories .articles-div, .buttons {
    display: flex;
    gap: 5vw;
}

#stories .buttons {
    justify-content: space-around;
    margin: 2vw;
}

article {
    border-radius: 2vh;
    padding: 2vw;
}

#jobs-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
        margin: 5vw;
    }

    .articles-div, .buttons {
        flex-direction: column;
    }

    header img {
        width: 90vw;
    }
}
