/* === COLORS === */
:root {
    --violet: #AA0160;
    --violet-dark: #7C1A51;
    --yellow: #FAEC02;
    --moss-medium: #92AA83;
    --moss-light: #E2ECC8;
    --moss-dark: #2E342A;
    --white: #FFFFFF;
    --cream: #FBFCF6;
    --stroke-thin: #DFDFDF;
}

header {
    display: flex;
    margin: 10vw;
}

header img {
    width: 35vw;
}

header div {
    margin: 2vw;
}

.werknemer {
    background-color: var(--moss-light);
}

#stories .articles-div, .buttons {
    display: flex;
    gap: 5vw;
}

#stories .buttons {
    justify-content: space-around;
    margin: 2vw;
}

.button-light {
    padding: 1vw;
    border-radius: 10vw;
    border: 3px solid var(--moss-dark);
}

article {
    border-radius: 2vh;
    padding: 2vw;
}

#jobs-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.violet {
    color: var(--violet);
}

.author p, .author b {
    font-size: 1rem;
    margin: 0;
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
        margin: 5vw;
    }

    .articles-div, .buttons {
        flex-direction: column;
    }
}
