:root {
    --violet: #AA0160;
    --violet-dark: #7C1A51;
    --yellow: #FAEC02;
    --moss-medium: #92AA83;
    --moss-light: #E2ECC8;
    --moss-dark: #2E342A;
    --white: #FFFFFF;
    --cream: #FBFCF6;
    --stroke-thin: #DFDFDF;
}



.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'radikal', sans-serif;
    background-color: var(--cream);
    border: none;
    margin-top: 3rem;
}


.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
    font-family: 'radikal', sans-serif;
}

.input-field {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    font-family: 'radikal', sans-serif;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

.mt-4 {
    margin-top: 1rem;
}

.forgot-password-link {
    color: #2E342A; /* Moss Dark */
    text-decoration: none;
    font-size: 0.875rem;
    font-family: 'radikal', sans-serif;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.welcome-text {
    font-size: 50px;
    font-weight: bold;
    color: #92AA83;
    font-family: 'radikal', sans-serif;
}

.login-btn {
    background-color: #8a0151; /* Violet color */
    color: white;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    font-family: 'radikal', sans-serif;
}

.login-btn:hover {
    background-color: #7a0146;
}

.login-btn:focus {
    outline: none;
}

.no-account-link {
    color: #2E342A; /* Moss Dark */
    text-decoration: none;
    font-size: 0.875rem;
    font-family: 'radikal', sans-serif;
}

.no-account-link:hover {
    text-decoration: underline;
}

.small-text {
    font-size: 0.875rem;
    color: #333;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.session-status {
    color: green;
    font-weight: bold;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .login-form {
        padding: 1.5rem;
        font-family: 'radikal', sans-serif;
    }

    .welcome-text {
        font-size: 35px;
        font-family: 'radikal', sans-serif;
    }

    .login-btn {
        font-size: 18px;
        padding: 0.8rem 1.5rem;
        font-family: 'radikal', sans-serif;
    }
}

@media (max-width: 480px) {
    .login-form {
        padding: 1rem;
    }

    .welcome-text {
        font-size: 28px;
    }

    .login-btn {
        font-size: 16px;
        padding: 0.8rem 1.2rem;
    }

    .form-label {
        font-size: 0.9rem;
    }

    .input-field {
        padding: 0.8rem;
    }
}
