/* Root Variables */
:root {
    --violet: #AA0160;
    --violet-dark: #7C1A51;
    --yellow: #FAEC02;
    --moss-medium: #92AA83;
    --moss-light: #E2ECC8;
    --moss-dark: #2E342A;
    --white: #FFFFFF;
    --cream: #FBFCF6;
    --stroke-thin: #DFDFDF;
}

/* Register Form */
.register-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'radikal', sans-serif;
    background-color: var(--cream);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

/* Welcome Text */
.welcome-text {
    text-align: center;
    font-family: 'radikal', sans-serif;
    color: #92AA83;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Info Text */
.info-text {
    font-size: 0.875rem;
    color: #2F3A31;
    margin-bottom: 0.5rem; /* Reduced margin to move it up */
    margin-top: -0.5rem; /* Negative margin to push it further up */
}

.info-text-small {
    font-size: 0.8rem;
    color: #555;
    margin-top: 0.5rem;
}

.register-button {
    width: 100%;
    background-color: #AA0160;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.register-button:hover {
    background-color: #8a0151;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.create-account {
    font-size: 0.875rem;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .register-form {
        padding: 2rem; /* Keep padding consistent */
    }

    .welcome-text {
        font-size: 56px; /* Make text bigger */
    }

    .info-text {
        font-size: 1rem; /* Increase text size */
        margin-bottom: 0.5rem; /* Reduced bottom margin */
        margin-top: -0.5rem; /* Negative margin to move it up */
    }

    .info-text-small {
        font-size: 1rem; /* Adjust text size */
    }

    .register-button {
        font-size: 1.1rem; /* Increase font size */
        padding: 1rem; /* More padding for the button */
    }
}

@media (max-width: 480px) {
    .register-form {
        padding: 2rem;
    }

    .welcome-text {
        font-size: 64px;
    }

    .info-text {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
        margin-top: -0.5rem;
    }

    .info-text-small {
        font-size: 1rem;
    }

    .register-button {
        font-size: 1.2rem;
        padding: 1.2rem;
    }
}
