
/* === COLORS === */
:root {
    --violet: #AA0160;
    --violet-dark: #7C1A51;
    --yellow: #FAEC02;
    --moss-medium: #92AA83;
    --moss-light: #E2ECC8;
    --moss-dark: #2E342A;
    --white: #FFFFFF;
    --cream: #FBFCF6;
    --stroke-thin: #DFDFDF;
}

/* === FONT SIZES === */
@font-face {
    font-family: 'radikal';
    src: url('./fonts/Radikal.otf');
}

@font-face {
    font-family: 'radikal-bold';
    src: url('./fonts/RadikalBold.otf');
}

@font-face {
    font-family: 'radikal-black';
    src: url('./fonts/RadikalBlack.otf');
}

@font-face {
    font-family: 'radikal-light';
    src: url('./fonts/RadikalLight.otf');
}

body {
    font-family: 'radikal', sans-serif;
    color: var(--moss-dark);
    background-color: var(--cream);
    margin: 0;
    min-height: 100vh;
}

section {
    margin: 10vw;
}

h1,h2,h3,h4,h5{
    font-family: 'radikal-black', sans-serif;
    text-align: center;
    line-height: 1;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

p {
    font-family: 'radikal-light', sans-serif;
    line-height: 1.6;
    font-size: 1.2rem;
}

b {
    font-family: 'radikal-bold', sans-serif;
    line-height: 1.6;
    font-size: 1.2rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white);
    background-color: var(--violet);
    padding: 1vh;
}

nav a {
    padding: 1vh 0;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

nav a:hover {
    border-bottom: 3px solid var(--white);
}

main {
    margin: 5vw 5vw 0 5vw;
}

footer {
    background-color: var(--moss-dark);
    color: var(--yellow);
}

/* === BUTTON STYLING === */
.button-light {
    padding: 1vw;
    border-radius: 10vw;
    background-color: var(--moss-dark);
    border: 3px solid var(--moss-dark);
    color: var(--white);
    transition: ease-in-out 0.2s;
}
.button-light:hover{
    background-color: var(--moss-dark);
    color: var(--white);
}

.button-pink {
        text-decoration: none;
        background: var(--violet);
        border-radius: 4px;
        text-align: center;
        padding: 1vh;
        color: var(--white);
}

.button-light:hover{
    background-color: var(--violet-dark);
    color: var(--white);
}

/* === MOBILE === */
@media (max-width: 767px) {
    nav {
        flex-direction: column;
    }

    main {
        margin: 0;
    }

    section {
        margin: 5vw;
    }
}
