/* === COLORS === */
:root {
    --violet: #AA0160;
    --violet-dark: #7C1A51;
    --yellow: #FAEC02;
    --moss-medium: #92AA83;
    --moss-light: #E2ECC8;
    --moss-dark: #2E342A;
    --white: #FFFFFF;
    --cream: #FBFCF6;
    --stroke-thin: #DFDFDF;
}

@media (prefers-color-scheme: dark) {
    /* === DARK MODE COLORS === */
    :root {
        --violet: #7C1A51;
        --violet-dark: #AA0160;
        --yellow: #605c18;
        --moss-medium: #92AA83;
        --moss-light: #2E342A;
        --moss-dark: #E2ECC8;
        --white: #FFFFFF;
        --cream: #1e201d;
        --stroke-thin: #DFDFDF;
    }
}

#vacancies {
    margin: 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}

#vacancyForm {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 60vw;
    margin: auto;
    padding: 1vw;

    > div {
        display: flex;
        flex-direction: column;
    }

    #timeSlotContainer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vw;
    }

    > #checkboxContainer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1vw;

        > label {
            padding: 0.3vw;
            border: solid black 1px;
            border-radius: 6px;
        }
    }
}

.vacancy-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeSlot {
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 25%;
    border: solid var(--moss-dark) 1px;
    border-radius: 6px;
    align-items: center;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeSlotTitleContainer {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .timeSlotCheckboxContainer {
        flex-direction: row;
        align-items: center;
    }

    .deleteTimeSlot {
        font-size: 1vw;
        padding: 0.5vw;
    }
}

#timeSlotContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
}

.timeSlotDetail {
    display: flex;
    flex-direction: column;
    border: solid var(--moss-dark) 1px;
    border-radius: 6px;
    align-items: center;
    width: 12vw;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.note {
    font-size: 1rem;
    color: var(--moss-medium);
}

#edit-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

    > form {
        display: flex;
        gap: 2vw;
        align-items: center;
        flex-direction: row-reverse;
    }
}

#vacancies a {
    margin-top: 1vh;
}

header {
    text-align: center;
    background: var(--violet);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers items vertically */
    word-wrap: break-word;
}

.article {
    width: 59vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1vw;
    border-radius: 1vw;
    justify-content: space-evenly;
}

.item ul {
    font-size: 12px;
}

.essentials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Base styles - default for larger screens (1920+) */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin: 160px; /* Apply large margin for large screens */
}

.item {
    flex-direction: row;
}

/*DETAIL PAGINA*/
#details-header {
    padding: 5vh 0;
    color: white;
    margin: 0 0 3vh 0;
}

#detail-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vh 5vw;
}

#vacancy-image {
    border-radius: 10px;
    height: 50vh;
    width: 40vw;
    object-fit: cover;
}

.description {
    margin: 5vh 16vw;
    padding: 1vh 2vw;
    border: solid #2e342a;
    border-radius: 15px;
}

.description-input {
    background: var(--moss-dark);
    color: #121212 !important;
}

#description-text {
    padding: 0 3vw;
}

.button-container {
    display: flex;
    justify-content: center;
}

.vacancy-details-img {
    display: flex;
    align-items: center;
}

/* For 1440 - 1919px screens */
@media (max-width: 1919px) {
    .container {
        margin: 88px;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px;
    }
}

/* For 1024 - 1439px screens */
@media (max-width: 1439px) {
    .container {
        margin: 56px;
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
    }
}

/* For 768 - 1023px screens */
@media (max-width: 1023px) {
    .container {
        margin: 32px;
        grid-template-columns: repeat(8, 1fr);
        gap: 16px;
    }
}

/* For 0 - 767px screens */
@media (max-width: 767px) {
    .container {
        margin: 16px;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }

    .article {
        flex-direction: column;
        width: 95vw;
        padding: 5vw;
    }

    .essentials {
        flex-direction: row;
    }
}

/*Mobile view CSS*/
@media only screen and (max-width: 480px) {
    #vacancyForm {
        width: 95vw;
        gap: 8vw;
    }

    #vacancy-image {
        border-radius: 5px;
        height: 50vh;
        width: 90vw;
        object-fit: cover;
    }

    .essentials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #description {
        margin: 3vh 5vw;
    }

    .timeSlotDetail {
        width: 44vw;
    }

    #detail-flexbox {
        flex-direction: column;
    }

    .vacancy-details-img {
        justify-content: center;
    }
}
