#vacancyForm {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 60vw;
    margin: auto;
    padding: 1vw;

    >div {
        display: flex;
        flex-direction: column;
    }

    >#checkboxContainer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1vw;

        >label {
            padding: 0.3vw;
            border: solid black 1px;
            border-radius: 6px;
        }
    }

}

@media only screen and (max-width: 450px) {

    #vacancyForm {
        width: 95vw;
        gap: 8vw;
    }

}
